.list {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  transition: 0.5s;
  padding-top: 0hv;
  display: grid;
  grid-template-rows: 4rem auto;
}

.list ul{
  box-sizing: border-box;
  padding: 2vh 2vw;
}

.list li{
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.list li:hover{
  color: #f1f1f1;
}

#listTitle{
  height: 100%;
  width: 100%;
  padding-top: 4vh;
  background-color: gray;
  color: white;
  font-size: 30px;
  text-align: center;
  position: fixed;
}

#listContent{
  overflow-x: scroll;
}